# ======================
# Database & SQL Files
# ======================
*/data/

# ======================
# Environment & Secrets
# ======================
*/.idea/

# ======================
# Airflow-Specific
# ======================
*/__pycache__/

