# ======================
# Database & SQL Files
# ======================
*/data/
*/cache/
*/ELT/cache/

# ======================
# Environment & Secrets
# ======================
*/.idea/

# ======================
# Airflow-Specific
# ======================
*/__pycache__/

# ======================
# Virtual Environment
# ======================
.venv/
/venv/
ENV/
env/
.env/

# ======================
# IDE & Editor
# ======================
# VSCode
.vscode/
.history/

# JetBrains (PyCharm, IntelliJ)
.idea/
*.iml
*.ipr
*.iws
out/

# Jupyter Notebook
.ipynb_checkpoints/


# ======================
# Logs & Temporary Files
# ======================
import_world_pop.py
*/ELT/*.py
