# ======================
# Database & SQL Files
# ======================
data/
cache/
ETL/cache/

# ======================
# Environment & Secrets
# ======================
.idea/

# ======================
# Airflow-Specific
# ======================
*/__pycache__/

# ======================
# Virtual Environment
# ======================
venv/

# ======================
# IDE & Editor
# ======================

# JetBrains (PyCharm, IntelliJ)
.idea/

# ======================
# Logs & Temporary Files
# ======================
import_world_pop.py
ETL/*.py
ETL/*.txt
